<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

</head>
<body>
    <div class="container">
        <header class="header">
          <h1>Semantic Analysis</h1>
        </header>
        <main class="content">
        <h2>RedX MitAOE</h2>
        
        <form action="/login" method="post">
        <label> 
        <input type="text" name="input"></label><br>
        <input type="submit" value="submit" /><br>
        </form>
      
</main>
</div>
</body>
</html>